.header__button_auth {
  height: 22px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
  background-color: black;
  border: none;
  cursor: pointer;
}
